.layout-container {
  padding: 12px 20px;
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-gap: 20px;
}

.layout-content {
  border: var(--border);
  border-radius: 16px;
  background: var(--section-bg-color);
}

.user-role__header {
  padding: 6px 20px 6px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  border-bottom: var(--border);
}

.user-role__header-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.user-role__content {
  padding: 20px;
  display: grid;
  grid-gap: 12px;
}

.user-role__add-button {
  margin-bottom: 24px;
}

.user-role__add-button {
  max-width: 136px;
}
