.layout-container {
  padding: 12px 20px;
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-gap: 20px;
}

.layout-content {
  //border: var(--border);
  //border-radius: 16px;
  background: var(--section-bg-color);
}
