<prefix-layout-header title="Права: Роль 1"/>

<div class="role-edit__container">
  <form
    class="role-edit__form"
    [formGroup]="userRoleForm"
  >
    <label class="role-edit__label">
      ID роли
      <input
        class="role-edit__input"
        type="text"
        pInputText
        fluid
        variant="outlined"
        formControlName="roleId"
      />
    </label>
    <label class="role-edit__label">
      Название роли
      <input
        class="role-edit__input"
        type="text"
        pInputText
        fluid
        variant="outlined"
        formControlName="roleName"
      />
    </label>
    <label class="role-edit__label">
      Описание
      <textarea
        class="role-edit__textarea"
        pTextarea
        fluid
        variant="outlined"
        formControlName="roleDescription"
        [autoResize]="true"
      ></textarea>
    </label>

    <div class="user-rights__container">
      <div class="user-rights__amount">
        <span>Права</span>
        <span>Всего: 12</span>
      </div>
    </div>

    <p-button
      class="role-edit__button save-button"
      label="Сохранить"
      type="submit"
    />
  </form>

</div>
