@if (user(); as user) {
  <p-toolbar
    class="user-role__toolbar"
    [class.user-role__toolbar-edit]="isEditMode()"
  >
    <ng-template #start>
      <input
        #roleInput
        pInputText
        fluid
        class="user-role__input"
        variant="outlined"
        [class.user-role__input-readonly]="!isEditMode()"
        [readonly]="!isEditMode()"
        [(ngModel)]="editableRole"
        (click)="editRoleTitle()"
        (blur)="saveRole()"
        [dt]="inputRoleConfig()"
      />
    </ng-template>

    <ng-template #end>
      @if(!isEditMode()) {
        <p-button
          text
          icon ="pi pi-list"
          severity="contrast"
          (click)="editRole()"
        />
        <p-button
          text
          icon ="pi pi-trash"
          severity="danger"
        />
      } @else {
        <p-button
          text
          icon ="pi pi-check"
          severity="info"
          (click)="saveRole()"
        />
      }
    </ng-template>
  </p-toolbar>
}
