@if (adminRole(); as assignment) {

  <span class="user__id">{{ assignment.user.id }}</span>
  <p class="user__name">{{ assignment.user.name }}</p>

  @if (assignment.firms && assignment.firms.length > 0) {
    <div class="card-content">
      @for (firm of assignment.firms; track firm.id) {
        <prefix-tag [value]="firm.name"/>
      }
    </div>
  } @else {
    <span class="no-content"> - </span>
  }
  @if (assignment.roles && assignment.roles.length > 0) {
    <div class="card-content">
      @for (role of assignment.roles; track role.id) {
        <prefix-tag [value]="role.name"/>
      }
    </div>
  } @else {
    <span class="no-content"> - </span>
  }
}
