.rights-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
  color: #64748B;
}

.rights-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 14px;
}

.rights-content {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

:host {
  .p-chip {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    background: transparent;
    color: var(--primary-color);
    padding: 5px 8px;
    gap: 8px;
  }

  ::ng-deep.p-multiselect-label.p-placeholder {
    padding-left: 40px;
  }
}

.rights__option {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rights-dropdown__select {
  position: relative;

  .p-multiselect-label-container {
    padding-left: 2.75rem; // место под иконку
  }

  &::before {
    content: '\e908'; // pi-search
    font-family: 'primeicons', sans-serif;
    position: absolute;
    left: 0.875rem;
    top: 50%;
    transform: translateY(-50%);
    color: #64748B;
    pointer-events: none;
    font-size: 1rem;
    z-index: 1;
  }

}

