:host {
  padding: 20px 0 12px 0;
  border: var(--section-border);
  border-radius: 16px;
  background: var(--section-bg-color);
}

//.custom-panelmenu .custom-menu-item {
//  display: flex;
//  align-items: center;
//  padding: 0.75rem 1rem;
//  cursor: pointer;
//  text-decoration: none;
//  color: inherit;
//  transition: background-color 0.2s;
//}
//
//.custom-panelmenu .menu-icon {
//  font-size: 1rem;
//  margin-right: 0.75rem;
//}
//
//.custom-panelmenu .menu-label {
//  flex: 1;
//}
//
//.custom-panelmenu .chevron-right {
//  margin-left: auto;
//}
