:host {
  padding: 34px 34px 34px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  border-top: var(--border);
  background: var(--section-bg-color);
}

.role-name, .checkbox-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1E293B;
}

.branch-office__wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.global-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 10px;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.action-button.save-button {
  //margin: 0 auto;
}

::ng-deep .action-button {
  .p-button {
    width: 24px;
    height: 24px;
  }
}

.p-multiselect {
  --p-multiselect-filled-background: #FFFFFF;
  --p-multiselect-filled-hover-background: #FFFFFF;
}
