@if (true) {
  <span class="role-name">{{ roleName() }}</span>
} @else {
  <div class="role-select">
    <prefix-autocomplete
      placeholder="Наименование роли"
      [suggestions]="roles$$()"
      [(selectedItem)]="selectedRoles$$"
      (onSearch)="handleSearch($event)"
    />
  </div>
}

<div class="branch-office__wrapper">
  @if (!isEditMode$$()) {
    @for (firm of user().firms; track firm.id) {
      <prefix-tag [value]="firm.name" />
    }
  } @else if (!isEditMode$$() && checked$$()) {
    <span class="role-name">Глобальная роль</span>
  } @else {
    <p-multiselect
      fluid
      showHeader="false"
      optionLabel="name"
      placeholder="Выберите филиалы..."
      [disabled]="checked$$()"
      [options]="firms$$()"
      [(ngModel)]="selectedFirms$$"
    ></p-multiselect>

    <div class="global-checkbox">
      <p-checkbox
        inputId="item"
        value="Глобально"
        [binary]="true"
        [(ngModel)]="checked$$"
      />
      <label
        for="item"
        class="checkbox-label"
      >
        Глобально
      </label>
    </div>
  }
</div>

<div class="action-buttons">
  @if (!isEditMode$$()) {
    <p-button
      text
      class="action-button"
      size="small"
      icon="pi pi-pencil"
      severity="contrast"
      (click)="editRole()"
    />

    <p-button
      text
      class="action-button"
      size="small"
      icon="pi pi-trash"
      severity="danger"
      (click)="deleteRole()"
    />
  } @else {
    <p-button
      text
      class="action-button save-button"
      size="small"
      icon="pi pi-check"
      severity="info"
      (click)="saveRole()"
    />
  }
</div>
