@if (role(); as role) {
  <p-toolbar
    class="user-role__toolbar"
    [class.user-role__toolbar-edit]="isEditMode()"
  >
    <ng-template #start>
      <input
        #roleInput
        pInputText
        fluid
        class="role-item__input"
        variant="outlined"
        [readonly]="!isEditMode()"
        [(ngModel)]="editableRoleName"
        (click)="editRoleTitle()"
        (blur)="saveRole()"
        [dt]="inputRoleConfig()"
      />
    </ng-template>

    <ng-template #end>
      @if(!isEditMode()) {
        <prefix-icon-button
          icon="pi pi-list"
          severity="contrast"
          (click)="editRole()"
        />
        <prefix-icon-button
          icon="pi pi-trash"
          severity="danger"
          (click)="removeRole()"
        />
      } @else {
        <prefix-icon-button
          icon="pi pi-check"
          severity="info"
          (click)="saveRole()"
        />
      }
    </ng-template>
  </p-toolbar>
}
