.assigning-roles__container {
  padding: 20px 56px 14px 20px;
}

.assigning-roles__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #1E293B;
}

.assigning-roles__main {
  border: var(--border);
  border-radius: 12px;
  background: var(--bg-color-gray);
}

.assigning-roles__filters {
  padding: 12px 40px 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assigning-roles__filter-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 140px;
}


.p-multiselect {
  --p-multiselect-filled-background: #FFFFFF;
  --p-multiselect-filled-hover-background: #FFFFFF;
}
