.branch-offices__action-button {
  display: flex;
  justify-content: center;
}

.branch-list {
  padding: 14px 8px 14px 12px;
  display: grid;
  grid-gap: 28px;
  margin-bottom: 10px;
}

.badge {
  font-style: italic;
}
