:host {
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #4B5563;
  z-index: 10;
  pointer-events: none;
}

::ng-deep .custom-autocomplete {
  .p-autocomplete-input {
    padding: 8px 38px;

    &::placeholder {
      color: #6B7280;
    }
  }
}
