:host {
  display: block;
  padding: 20px;
}

.role-edit__form {
  padding: 12px 0 24px 0;
  display: grid;
  grid-gap: 24px;
}

.role-edit__label {
  color: #64748B;
}

.role-edit__input {
  margin-top: 8px;
}

.role-edit__textarea {
  margin-top: 8px;
}

.role-edit__button {
  margin-top: 18px;
}

.role-edit__error {
  display: inline-block;
  margin-top: 4px;
  color: tomato;
}
